* {
    color: #BFBFCA;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: #596BC2;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
    border: 1px solid #E4EBF3;
    border-collapse: collapse;
  }

  thead {
    background: #E4EBF3;
    color: #5f6064;
    border: 1px solid #E4EBF3;
    margin-bottom: 5px;
    padding: 20px;
  }
  
  table, td {
    border: 1px solid #E4EBF3;
  }
.examples {
    color: #A5B3A0;
    background-color: #F8F0E3;
    font-family: "Lucida Console", Courier, monospace;
}
